html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#imgHome{
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: row;
    position: relative;
}
p{
    width: 100%;
    color: white;
    font-size: 300%;
    text-align: center;
    margin-top: 40%;
    position: absolute;
    z-index: 100% ;
}
h1{
    color: #f9f9e7;
    width: 100%;
    font-size: 500%;
    text-align: center;
    margin-top: 30%;
    position: absolute;
    z-index: 100% ;
}

#Home{
    /*#c1e0e0 azul
    #f9f9e7 amerelinh*/
    display: flex;
    flex-direction: row;
    width: 100%;
}
#fraseHome{
    width: 100%;
    color: white;
    font-size:  10px;;
    text-align: center;
    margin-top: 0%;
    position: absolute;
    z-index: 100% ;
}
#nav{
    position: relative;
    height:50px;
    margin-top: 23px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.153);
    

}
#botao{
    background-color: black;
    color: antiquewhite;
    border-width: 2px;
    border-style: inset;
    padding: 4px;
    width: 100px;
    
}

input{
    border-color: white;
    height: 50px;
    border-radius: 10px;
    border-bottom: 10px;
}



#vo2{
    width: 70%; /*mao alcool em gel */
}
#segundafoto{
    position: relative;
    padding-top: 50%;
    margin-right: 30%;
    margin-left: 20%;
    color: antiquewhite;
}

#img3{
    margin-left: 5%;
    padding-bottom: 25px; /*achei ajustar parte preta segunda vó*/
    margin-top: 0%;
    width: 72%;
}
#img4{
    background-image: linear-gradient(to bottom, #c1e0e0 0, #c1e0e0 70% ,  rgba(0, 0, 0, 0.153) 30%);
    width: 80%;
}

#terceiraApresentacao{
    margin-top: -5%;
    background-color:  #c1e0e0;
}
#terceiraFoto{
    display: flex;
    align-items: baseline;
    padding-top: 15px;
    margin-top: 10px; /*parte azul cima comeco*/
    width: 100%;
    position: absolute;
    background-color: #c1e0e0;
    background-image: linear-gradient(to bottom, #c1e0e0 0, #c1e0e0 50% ,  black 30%);
}
#segundaApresentacao{
    background-color: black;
   
}
#vo23{
    width: 60%;
    margin-top: -150%;
    padding-top: -10%; /* alinhar lado direito chamada*/
    margin-left: 75%;
    margin-bottom: 20px;  /*move foto chamada / cima tambem*/
}
#alcool{   
/* posicao mascaras*/
    width: 70%;
    padding-top: 10px;
    
}
#oitavafoto{   
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: white;
}
#maeprincipal{
    width: 35%;
    height: 40%;
    margin-right: 10%;
    /* margem imagem peb*/
}
#oito{
    font-size: 30px;
    display: flex;
    margin-left: 5%; /*margin do paragrf*/
    margin-top: 20%;
   /*letreiro*/
    width: 100%;
    position: relative;
}
#textoApresentaçao{
    width: 100%;
    position: relative;
}
#globoprincipal{
    width: 50%;
}
#titulo2{
    margin: 10px;
    font-size: 30px;
}
#vo1{
    margin-left: 25%;
    width: 70%;  

}
#apresentacaoProjeto{
    position: relative;
    background-image: linear-gradient(to bottom, #c1e0e0 0, #c1e0e0 70% ,  rgba(0, 0, 0, 0.153) 30%);
}
#terceiroparagrafo{

    font-size: 40;
}